{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

     <!-- where_togo_area_start  -->
     <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Hotéis em Pemba</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="#">
                            {% csrf_token %}
    
                            <div class="form-row align-items-center">
    
                                <div class="col-auto mb-2">
                                    <label for="Cbeck In ">Check In Date : </label>
                                    {% render_field searchform.checkindate class+='form-control' type='date' %}                        
                                </div>
    
                                <div class="col-auto mb-2">
                                    <label for="Cbeck In ">Check Out Date : </label>
                                    {% render_field searchform.checkoutdate class+='form-control' type='date' %}                        
                                </div>
    
                                <div class="col-auto mb-1">
                                    <label for="Adultos">Adultos: </label>
                                    {% render_field searchform.adultos class+='form-control' %}
                                </div>
                                <div class="col-auto mb-1">
                                    <label for="Criancas">Criancas: </label>
                                    {% render_field searchform.crianca class+='form-control'  %}
                                </div>
    
                                <div class="col-auto">
                                    <button class="boxed-btn4" type="submit">Search</button>
                                </div>
    
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->


    <div class="popular_places_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="filter_result_wrap">
                        
                        <div class="filter_bordered">
                            <form method="POST">
                                <h3>Filter Result</h3>
                                {% csrf_token %}
                                <div class="filter_inner">

                                    <div class="form-group">
                                        <label for="Categoria">Categoria: </label>
                                        {% render_field filterform.categoria class+='form-control' %}
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <label for="Preco">Preco: </label>
                                        <p><b>Min: $ 1</b></p>
                                        {% render_field filterform.price type="range" min="1" max="100" value="50" class="form-control custom-range" %}
                                        <p><b>Max: $ 100 000 </b></p> 
                                    </div>

                                    <div class="reset_btn">
                                        <button class="boxed-btn4" type="submit">Reset</button>
                                    </div>


                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        {% for hotel in hoteis %}
                        <a href="{% url 'hotel_details' pk=hotel.id  %}">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_place">
                                    <div class="thumb">
                                        <img src="{% static hotel.cover %}" alt="">
                                        <a href="{% url 'hotel_details' pk=hotel.id  %}" class="prise">$ {{ hotel.price }}</a>
                                    </div>
                                    <div class="place_info">
                                        <a href="{% url 'hotel_details' pk=hotel.id  %}"><h3>{{ hotel.name }}</h3></a>
                                        <p> {{ hotel.localizacao }} </p>
                                        <div class="rating_days d-flex justify-content-between">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <i class="fa fa-star"></i> 
                                                <i class="fa fa-star"></i> 
                                                <i class="fa fa-star"></i> 
                                                <i class="fa fa-star"></i> 
                                                <a href="#">(20 Review)</a>
                                            </span>
                                            <div class="days">
                                                <i class="fa fa-clock-o"></i>
                                                <a href="{% url 'hotel_details' pk=hotel.id  %}">5 Days</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="more_place_btn text-center">
                                <a class="boxed-btn4" href="#">More Places</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Recent Trips</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/2.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/3.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}