{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Aconchego</h3>
                            <p>Hotéis Sempre ao pé de ti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Aconchego</h3>
                            <p>Hotéis Sempre ao pé de ti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Aconchego</h3>
                            <p>Hotéis Sempre ao pé de ti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- slider_area_end -->

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Hotéis em Pemba</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">

                        <div class="input_field">
                            <input id="datepicker" placeholder="Check In Date">
                        </div>
                        <div class="input_field">
                            <input type="date" placeholder="Check Out Date">
                        </div>

                        <div class="input_field">
                            <select>
                                <option data-display="Adultos">Adulto</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                            </select>
                        </div>

                        <div class="input_field">
                            <select>
                                <option data-display="Criancas">Crianca</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                            </select>
                        </div>

                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Top Hotéis</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for hotel in hoteis %}
            <a href="{% url 'hotel_details' pk=hotel.id  %}">
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{% static hotel.cover %} " alt="">
                            <a href="#" class="prise">$ {{ hotel.price }}</a>
                        </div>
                        <div class="place_info">
                            <a href="#">
                                <h3>{{ hotel.name }}</h3>
                            </a>
                            <p>{{ hotel.localizacao }}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                    <i class="fa fa-star"></i>
                                    <a href="#">(20 Review)</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">5 Days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    {% for cmt in comments%}
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                    </div>
                                    <p>{{ cmt.comment }}</p>
                                    <div class="testmonial_author">
                                        <h3>- {{ cmt.autor }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->

{% endblock content %}